<%
if (attributes.isloadMore == "0")   {
    var toolbarDropList =[];
    var advSearchContent = [];
    var totalItem = 0;
    _.each(contents.keyMap, function(map) {
           toolbarDropList.push('<li class="searchKey" key="'+map.key+'"><a href="#"><i class="'+map.class+'"></i> '+map.lang+'</a></li>');
           advSearchContent.push('<li> <input class="advFilterItem" key="'+map.key+'" placeholder="'+map.lang+'" type="text"/> <i hidden sort="'+attributes.order+'" class="sortBtn fa fa-sort-'+attributes.order+'"></i></li>');
           totalItem ++;
    });

    var toolbarDropListTmp = toolbarDropList.join("");
    var advSearchContentTmp = advSearchContent.join("");
%>

    <div class="toolbar row">
        <div class="toolInputGroup input-group">
            <div class="input-group-btn">
                <i class="fa fa-eye"></i>
                <%
                    var defaultItem =  contents.keyMap[contents.defaultKey].lang;
                    defaultItem =  (defaultItem.length > 12)?  defaultItem.substring(0, 10) + "..": defaultItem;
                %>
                <button type="button" id="searchColumn" key="<%=contents.defaultKey%>" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%=defaultItem%> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <%= toolbarDropListTmp%>
                    <% if (totalItem > 1) {%>
                        <li class="divider"></li>
                        <li key="All"><a href="#"><i class="fa fa-th"></i> <%=lang.t_all%></a></li>
                    <%}%>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" id="searchText" class="form-control" placeholder="<%=lang.t_search%>">
            <button type="button" id="searchBtn" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button type="button" id="searchAdvBtn" class="btn btn-default"><i class="fa fa-search-plus"></i></button>
        </div><!-- /input-group -->
        <div class="toolBtns">
            <a class="createItemBtn" href="javascript:;"><i class="fa fa-plus-square"></i> <%=lang.t_createItem%></a>
            <a href="javascript:;" id="toggleTableView"><i class="fa fa-table"></i> Table</a>
        </div>
    </div><!-- /.row -->

    <div id="advSearch"  class="row alert alert-info" hidden>
        <%= advSearchContentTmp %>
        <li> <button type="button" id="advSearchBtn" class="btn btn-primary btn-xs"><%=lang.t_search%></button> </li>
    </div>

    <div class="row dgItems">
<%
}

var i = 0;
_.each(contents.rows, function(item) {
%>
    <div class="datagrid dragItem white" dgid="<%=item.ID%>" index="<%=i%>">
        <div class="showOne">
            <div class="viewParam">
                <div><i class="fa fa-eye"></i> <span class="vTitle"><%=contents.keyMap[contents.defaultKey].lang%></span></div>
                    <div class="vContent"><%=item[contents.defaultKey]%></div>
                    <div class="toolItems"><i class="ibtn editMore fa fa-pencil-square-o"></i></div>
            </div>
            <hr/>
            <div class="btnsBar">  <i class="ibtn showDetail fa fa-plus fa-2"></i>  </div>
            <div class="detailpop popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                <%
                var showAllcontent = [];
                _.each(contents.keyMap, function(map) {
                showAllcontent.push('<li class="well well-lg"> <b>'+item[map.key]+'</b></li>');
                %>
                    <label key="<%=map.key%>"><%=map.lang%></label>
                    <div><%=item[map.key]%> &nbsp;</div>
                <%
                })
                var showAllcontentTmp = showAllcontent.join("");
                %>
                </div>
             </div>
        </div>
        <div class="showAll" hidden>
             <%= showAllcontentTmp%>
        </div>
    </div>
<%
    i++;
});

    var currentItems =  parseInt((attributes.page -1)*attributes.rows) + parseInt(contents.rows.length);
%>
        <div class="datagrid dragItem white loadmoreBtn"  rows="<%=attributes.rows%>" page="<%=attributes.page%>" <% if (contents.total <= currentItems) { %> hidden <%}%>>
            Load More
         </div>
    </div>

<%if (attributes.isloadMore == "0")   {%>
    <div class="table-responsive">
        <table class="table dgItemsTable" hidden>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

    <% if (contents.rows.length == 0) { %>
    <div class="alert alert-warning">
        No result!
    </div>
    <%}%>
<%}%>
